# Python
__pycache__/
*.pyc
venv/
.env
backend/cache/
backend/output/d2
backend/output/svg

# Node.js
node_modules/
dist/
build/

# Logs
*.log

# Electron build
*.asar

# backend exe
backend/dist/
backend/MyBackendApp.spec

# frontend exe
frontend/release-builds
frontend/backend-bin/cache
frontend/backend-bin/output
frontend/backend-bin/MyBackendApp.exe
